{% extends "layout.html" %}
{% block body %}
  <section class="Bookings main-section">
    <h2>Compare Insurance Packages</h2>
    {% if user.is_authenticated == False %}
        <p>Login to Book the insurance package that best suits your needs:</p>
    {% endif %}
    <div class="insurance-options">
        {% for booking in bookings %}
            <div class="package">
                <h3>{{ booking.insurance_company }}</h3>
                <p>{{ booking.insurance_type }} Package</p>
                <p>{{ booking.coverage_details }}</p>
                <p>Premium (per year): KES. {{ booking.price }}</p>
                {% if user.is_authenticated %}
                    <form method="POST" action="{{ url_for('users.user_bookings') }}">
                        <input type="hidden" name="booking_id" value="{{ booking.id }}">
                        <button type="submit" class="btn">Book Now</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Boda-boda Insurance System</p>
  </footer>
{% endblock %}
