{% extends 'layout.html' %}
{% block body %}
  <section class="main-section">
    <form method="post" action={{ url_for('add_booking') }}>
      <div class="form-group">
        <label for="package">Package:</label>
        <input type="text" id="package" name="package" required>
      </div>
      <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required>
      </div>
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" cols="30" rows="10"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Add Booking</button>
      </div>
    </form>
  </section>

  <footer>
    <p>&copy; 2023 Boda-boda Insurance System</p>
  </footer>
{% endblock %}
