{% extends "layout.html" %}
{% block body %}
  <section class="main-section">
    <table>
      <tr>
        <th>Insurance Company</th>
        <th>Insurance Type</th>
        <th>Coverage details</th>
        <th>Premium</th>
      </tr>
      <tr>
        <td>ICEA Lion Insurance</td>
        <td>Comprehensive</td>
        <td><p>covers the motorcycle and accessories from accidental damage fire, theft and other perils like storms and flooding. It also covers the insured against financial loss due to third party bodily injuries and property damage and legal liabilities in the event of a road accident.</p></td>
        <td>KES 6,067</td>
      </tr>
      <tr>
        <td>Trident</td>
        <td>Comprehesive</td>
        <td><p>This type of insurance covers the motorcycle and accessories from accidental damage fire, theft and other perils like storms and flooding. It also covers the insured against financial loss due to third party bodily injuries and property damage and legal liabilities in the event of a road accident.</p></td>
        <td>KES 5,565</td>
      </tr>
      <tr>
        <td>Monarch Insurance</td>
        <td>Comperehensive</td>
        <td><p>This type of insurance covers the motorcycle and accessories from accidental damage fire, theft and other perils like storms and flooding. It also covers the insured against financial loss due to third party bodily injuries and property damage and legal liabilities in the event of a road accident.</p></td>
        <td>KES 5,565</td>
      </tr>
      <tr>
        <td>AIG</td>
        <td>Third Party</td>
        <td><p>Covers loss and or damage arising from accidental own damage , theft, fire, bodily injury ahence third party and for property damange</p></td>
        <td></td>
      </tr>
    </table>
  </section>

  <footer>
    <p>&copy; 2023 Boda-boda Insurance System</p>
  </footer>
{% endblock %}
