{% extends "layout.html" %}
{% block body %}
  <section class="main-section">
    <h2>User Bookings</h2>
    <p>Here is a list of the bookings you've made so far:</p>
    <div class="insurance-options">
        {% for user_booking in list_user_bookings %}
            <div class="package">
                <h3>{{ user_booking.booking.insurance_company }}</h3>
                <p>{{ user_booking.booking.insurance_type }}</p>
                <p>{{ user_booking.booking.coverage_details }}</p>
                <p>Premium (per year): KES. {{ user_booking.booking.price }}</p>
            </div>
        {% endfor %}
    </div>
  </section>

  <footer>
    <p>&copy; 2023 Boda-boda Insurance System</p>
  </footer>
{% endblock %}
