<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="user.css">
</head>
<body>
  <header>
    <h1>Boda-Boda Insurance Information & booking system</h1>
    <nav>
        <a href="home.html">Home</a>
        <a href="information.html">Insurance Information</a>
        <a href="booking.html">Booking</a>
        <a href="contact.html">Contact Us</a>
    </nav>
  </header>
  <section class="main-section">
    <form>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
      </div>
      <div class="form-group">
        <label for="confirm-password">Confirm Password:</label>
        <input type="password" id="confirm-password" name="confirm-password" required>
      </div>
      <div class="form-group">
        <button type="submit" class="btn">Register</button>
      </div>
    </form>
  </section>

  <footer>
    <p>&copy; 2023 Boda-boda Insurance System</p>
  </footer>
</body>
</html>
